body{
    background-color: #CAE5FF;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ACEDFF;
  }
.navbar-element {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #89BBFE;
  }
h1, h2{
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}