#input{
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
#megoldButton{
    display: block;
    margin: auto;
    width: auto;
    padding: 10px;
    text-align: center;
}
#megoldas{
    display: block;
    margin: auto;
    width: auto;
    padding: 10px;
    text-align: center;
}
dt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    margin-bottom: 10pt;
    width: 200pt;
    text-align: center;
}

